logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
.vscode
.github/
*.swp
*.lock
*.js
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
!app/database/*.js

typings/app
typings/config
config/config.local.ts
config/config.prod.ts
database/config.json
httpskey/
